/* ChangePasswordPage.css */

body {
  font-family: 'NanumSquareRound', sans-serif;
  background-color: #E3FDFD;
  margin: 0;
}

.change-password-container {
  max-width: 1500px;
  padding: 20px;
}

.mogako-title {
  display: block;
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}

.password-fields {
  margin-top: 20px;
  margin-bottom: 20px;
}

.changePasswordBtn,
.backBtn {
  width: 130px;
  height: 40px;
  margin-right: 10px;
  border: none;
  font-size: 15px;
  box-sizing: border-box;
  transition: 0.3s;
  font-family: 'Nanum Square Round', sans-serif;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  position: relative;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  background-color: #A6E3E9;
  color: rgba(0, 0, 0, 0.87);
}

.changePasswordBtn:last-child,
.backBtn:last-child {
  margin-right: 0;
}

.changePasswordBtn:hover,
.backBtn:hover {
  background-color: #71C9CE;
}
