.app {
  display: flex;  
  align-items: center;
  padding: 20px; /* 간격 추가 */

  width: 100%;  
}


.left, .right {
  flex: 1;
  padding: 0px;
}

.flag {
  position: relative;  /* 변경된 부분 */
  background-color: #e3fdfd;
  top: 7%;
  width: 53vw;
  height: 26.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5vw;
}

.taeguk1-red {
  position: relative;
  width: 20vw;
  height: 10vw;
  border-top-left-radius: 25vw;
  border-top-right-radius: 25vw;
  background: #ff0000;
  z-index: 1;
}

.taeguk1-blue {
  position: relative;
  width: 20vw;
  height: 10vw;
  border-bottom-left-radius: 25vw;
  border-bottom-right-radius: 25vw;
  background: #0000ff;
  z-index: 1;
}

.movable-red {
  position: relative;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background: #ff0000;
  z-index: 2;
}

.movable-blue {
  position: relative;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background: #0000ff;
  z-index: 2;
}







/* 아래는 코드 입력창에 관한 css */
.code-container {
  background-color: #A6E3E9;
  padding: 10px;
  border-radius: 5px;
  position: relative; 
  top: 20px;
  width: 52vw; 
  height: 20%;
  
}

.input-line {
  display: flex;
  align-items: center;
}

.input-line pre, .input-line input {
  font-size: 18px;  /* 원하는 크기로 조정 */
}



.right p {
  margin: 10px ;
  padding-left: 150px;
  font-size: 22px;  /* 글자 크기 추가 */
}

.hint {
  font-weight: bold;
  margin-top: 20px;
}



.top-bar {
  background-color: #A6E3E9;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;  /* 텍스트와 왼쪽 가장자리 사이의 간격 */
}

.top-bar span {
  font-size: 20px;  /* 글자 크기 조절 */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #A6E3E9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #89c2d9;
}

.scoreContainer {
  display: flex;
  align-items: center;
  gap: 40px; /* p 요소와 button 요소 사이의 간격 */
}